#app {
  text-align: center;
  margin-top: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20%;
}
#carta {
  width: 150px;
  margin-top: 20px;
}

#puntuacion, #quieressaber, #mensaje {
  font-size: 24px;
  margin-top: 10px;
}
button:hover {
  background-color: #0056b3;
}